openapi: 3.0.3

info:
  title: Itmo Trip API
  version: 0.0.1

servers:
  - url: http://localhost:8080/api/v1

tags:
  - name: auth
    description: auth

paths:
  /auth/login:
    post:
      tags:
        - auth
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserLoginRequest"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserLoginResponse"
        400:
          $ref: '#/components/responses/ErrorResponse'
        401:
          $ref: '#/components/responses/ErrorResponse'
        422:
          $ref: '#/components/responses/ErrorResponse'
        500:
          $ref: '#/components/responses/ErrorResponse'

components:
  schemas:
    UserLoginRequest:
      description: user login request
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
        password:
          type: string

    UserLoginResponse:
      description: user login response
      type: object
      required:
        - accessToken
        - refreshToken
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string

  responses:
    ErrorResponse:
      description: Ответ с ошибкой
      type: object
      required:
        - errorCode
        - errorMessage
      properties:
        errorCode:
          description: Код ошибки
          type: string
          minLength: 1
          example: TournamentForJoiningNotFound
        errorMessage:
          description: Описание ошибки
          type: string
          minLength: 1
          example: 'Турнир не найден'
        errorDetails:
          description: Детали ошибки для упрощения диагностики
          type: object
          example:
            tournamentId: В турнир с переданным идентификатором невозможно вступить
          additionalProperties:
            type: string
