version: '3.8'

services:
  postgres:
    image: postgres:18-alpine
    container_name: itmo-trip-postgres
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
  backend:
    build: ../
    container_name: itmo-trip-backend
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-dev}
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/postgres
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER:-postgres}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    ports:
      - "8080:8080"
      - "8081:8081"
    healthcheck:
      test: [
        "CMD-SHELL",
        "wget -T5 -qO- http://localhost:8080/itmo-trip/readyz | grep UP || exit 1"
      ]
      interval: 15s
      timeout: 10s
      retries: 3
      start_period: 15s
    depends_on:
      postgres:
        condition: service_healthy
    restart: on-failure

  frontend:
    build:
      context: .././frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE=${VITE_API_BASE}
        - VITE_API_TARGET=${VITE_API_TARGET}
    container_name: itmo-trip-frontend
    ports:
      - "5177:5177"
    depends_on:
      backend:
        condition: service_healthy
    restart: on-failure

volumes:
  postgres_data:
