.auth-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: white;
    border-radius: 16px;
    padding: 24px;
    width: 300px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.auth-form h2 {
    color: black;
}
